*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(10, 9, 9, 0.5)),url(WhatsApp\ Image\ .jpeg);
    background-size: cover;
    background-repeat: no-repeat
}
.container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: white;


    width: 25rem;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 3rem;

    box-shadow:0 0 20px rgba(0, 0, 0, 0.788);
    border-radius: 1rem;
}
.login{
    font-size: 26px;
    font-weight: 600;
}
.input-group{
    position: relative;
    width: 300px;
}

.input-group input{
    width: 100%;
    font-size: 16px;
    border: 1px solid rgba(12, 12, 255, 0.788) ;
    outline:none;
    padding: 14px 14px;
    border-radius: 4px;

}
.input-group label{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translatey(-50%);
    color: rgba(59, 59, 59, 0.86);
    font-size: 16px;
    pointer-events:none;
    transition: 0.3s ease;
    background-color: white;
    padding: 0 5px;
}
.input-group input:focus+label,.input-group input:valid+label{
    top: -1px;
    font-size: 14px;
}
.create{
    display: flex;
    gap: 5px;
    font-size: 14px;

}
button{
    width: 75%;
    height: 40px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 2px;
}
button a{
    color: white;
    text-decoration: none;
}